{{#d-modal-body
  title="community_canned_replies.insert.modal_title"
  class="community-canned-replies-modal"
  style="overflow: visible"
}}
  {{#conditional-loading-spinner condition=loadingReplies}}
    <div class="details">
      <div class="reply-selector">
        <div class="selector">
          {{combo-box
            id="community-canned-replies-combobox"
            valueAttribute="id"
            value=selectedReplyId
            nameProperty="title"
            content=replies
            none="community_canned_replies.insert.choose"
          }}
        </div>
      </div>

      {{#if selectedReply}}
        <div class="content">
          <div>{{{cook-text selectedReply.content}}}</div>
        </div>
      {{/if}}
    </div>
  {{/conditional-loading-spinner}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    class="pull-left community-canned-replies-new"
    action=(action "newCommunityReply")
    icon="plus"
    label="community_canned_replies.insert.new_button"
  }}

  {{#if selectedReply}}
    {{d-button
      class="pull-left community-canned-replies-edit"
      action=(action "editCommunityReply")
      icon="pencil-alt"
      label="community_canned_replies.insert.edit_button"
    }}

    {{d-button
      class="btn-primary pull-right community-canned-replies-apply"
      action=(action "apply")
      icon="far-clipboard"
      label="community_canned_replies.insert.insert_button"
    }}
  {{/if}}
</div>
