<div class="community-canned-reply" id="community-canned-reply-{{reply.id}}">
  <div {{action "toggle"}} class="community-canned-reply-title">
    {{d-button
      class="community-canned-replies-apply"
      action=(action "apply")
      icon="user-edit"
    }}

    {{#if canEdit}}
      {{d-button
        class="community-canned-replies-edit"
        action=(action "editCommunityReply")
        icon="pencil-alt"
      }}
    {{/if}}

    <b>{{reply.title}}</b>
  </div>

  {{#if isOpen}}
    <div class="community-canned-replies-content">
      {{{cook-text reply.content}}}
    </div>
  {{/if}}
</div>
